.p-lic_wrap {
  padding-top: 200px;
}

.p-lic_wrap p {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 60px;
}

.p-lic_wrap button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 550px;
  aspect-ratio: 1/0.2;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #fff;
  background-image: linear-gradient(
    135deg,
    rgba(65, 164, 253, 1),
    rgba(13, 211, 220, 1)
  );
  border-radius: 100vmax;
  border: none;
  cursor: pointer;
  margin: 0 auto 80px;
}
.p-lic_wrap #result {
  font-size: 16px;
  text-align: center;
}
